body {
  font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 0.4375rem;
  background: #dedede;
  color: #444;
}
.header {
  width: 100%;
  height: 1.59375rem;
  background: #fff;
}
.header a {
  position: relative;
}
.header a img {
  height: 0.9375rem;
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
}
.nav {
  float: right;
  width: 3.4375rem;
  height: 100%;
}
.nav li {
  float: left;
  height: 1.5625rem;
  line-height: 1.5625rem;
  padding: 0 0.15625rem;
}
.nav li a {
  color: #686868;
  display: block;
  height: 100%;
  padding: 0 0.15625rem;
}
.content {
  width: 100%;
  height: auto;
  background: #fff;
}
.content .swiper-container {
  width: 100%;
  height: 4.375rem;
}
.content .swiper-container img {
  width: 100%;
  height: 100%;
}
.content .swiper-pagination-bullet {
  width: 0.1875rem;
  height: 0.1875rem;
  background: #fff;
  box-shadow: 0 0 1px #bbb;
  opacity: 1;
}
.content .swiper-pagination-bullet-active {
  background: #bbb;
  box-shadow: 0 0 1px #ccc;
}
.content .demand {
  height: 12.5625rem;
}
.common .title {
  width: 100%;
  height: 1.5625rem;
  text-align: center;
  position: relative;
}
.common .title h1 {
  line-height: 1.5625rem;
  font-size: 0.5625rem;
}
.common .title .triangle-down {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-top: 0.3125rem solid #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.28125rem;
  z-index: 2;
}
.demand .profit {
  display: block;
  width: 100%;
  height: 4.0625rem;
  position: relative;
  text-align: center;
  background: #ff5262;
  color: #fff;
}
.profit .pager .mod-cube {
  position: absolute;
  width: 9rem;
  height: 1.9375rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
}
.pager .mod-cube .cube-top {
  height: 0.625rem;
  background: #e73749;
  position: relative;
}
.cube-top i {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-top-color: #ff5262;
}
.cube-top .triangle-left {
  left: 0;
  border-left-color: #ff5262;
}
.cube-top .triangle-right {
  right: 0;
  border-right-color: #ff5262;
}
.pager .mod-cube .cube-middle {
  height: 1px;
  background: #ff9d93;
}
.pager .mod-cube .cube-bottom {
  height: 1.28125rem;
  background: #ff6b79;
  margin-top: -1px;
}
.profit .profit-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.profit-content .line1 {
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.46875rem;
}
.profit-content .line2 {
  color: #ff5262;
  width: 4.6875rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  margin: 0 auto 0.46875rem;
  border-radius: 2px;
  font-size: 1.125rem;
  background: #fff;
}
.profit-content .line3 {
  height: 0.625rem;
  line-height: 0.625rem;
  width: 3.125rem;
  margin: 0 auto;
  border: 1px solid #fff6ed;
  border-radius: 0.3125rem;
  font-size: 0.40625rem;
  background: #ff5262;
}
.demand .risk-warn {
  margin-top: 0.125rem;
  text-align: center;
  font-size: 0.3125rem;
  color: #ff5262;
}
.demand .feature {
  width: 100%;
  height: 6.25rem;
  color: #ff5262;
  font-size: 0.5rem;
}
.demand .feature .line {
  height: 3.125rem;
  line-height: 3.125rem;
  padding-right: 0.625rem;
  text-align: right;
  border-bottom: 1px solid #ff5262;
  max-width: 10rem;
  margin: 0 auto;
  position: relative;
}
.demand .feature .line i {
  width: 1.875rem;
  height: 1.21875rem;
  position: absolute;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/index_0.5_z_7e0b6a2.png') no-repeat;
  background-size: 3.1875rem 15.375rem;
}
.demand .feature .line1 i {
  background-position: -1.28125rem 0;
}
.demand .feature .line2 i {
  background-position: -1.34375rem -1.71875rem;
}
.feature .number {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  text-align: center;
  border-radius: 50%;
  background: #ff5262;
  color: #fff;
  font-size: 0.5rem;
  font-weight: 700;
}
.feature .line2 .text1 {
  font-size: 0.625rem;
  font-weight: 700;
}
.feature .line2 .text2 {
  font-weight: 700;
}
.content .security {
  width: 100%;
  height: 13.71875rem;
}
.content .security ul {
  padding: 0 0.3125rem;
  color: #f6f6f6;
  max-width: 10rem;
  margin: 0 auto;
  background: #ff5262;
}
.content .security ul .line {
  border-bottom: 1px solid #f57a6d;
  padding: 1.25rem 0.625rem;
  position: relative;
}
.content .security ul .line1 {
  padding-left: 2.75rem;
  text-align: right;
}
.content .security ul .line2 {
  padding-right: 3.6875rem;
}
.content .security ul .line3 {
  padding-left: 2.625rem;
  text-align: right;
}
.security ul .line i {
  background: url("../images/index_0.5_z_7e0b6a2.png") no-repeat;
  background-size: 3.15625rem 15.34375rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.security ul .line span {
  font-size: 0.5625rem;
  color: #fff;
  line-height: 0.9375rem;
  font-weight: 700;
}
.security ul .line1 i {
  width: 2.5rem;
  height: 1.6875rem;
  left: 0.625rem;
  background-position: -0.65625rem -3.3125rem;
}
.security ul .line2 i {
  width: 3.0625rem;
  height: 1.9375rem;
  right: 0.625rem;
  background-position: -0.09375rem -5.46875rem;
}
.security ul .line3 i {
  width: 2rem;
  height: 2.25rem;
  left: 0.625rem;
  background-position: -1.15625rem -7.875rem;
}
.profits {
  width: 100%;
  height: 10.25rem;
}
.profits ul {
  padding: 0 0.3125rem;
  color: #f6f6f6;
  max-width: 10rem;
  margin: 0 auto;
  background: #0a9de2;
}
.profits ul li {
  border-bottom: 1px solid #fcdeb4;
  padding: 1.25rem 0.625rem;
  position: relative;
}
.profits ul .line2 {
  text-align: right;
  padding-left: 3.25rem;
}
.profits ul .line i {
  background: url("../images/index_0.5_z_7e0b6a2.png") no-repeat;
  background-size: 3.15625rem 15.34375rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.profits ul .line1 i {
  width: 3.15625rem;
  height: 2.09375rem;
  right: 0.625rem;
  background-position: 0 -10.59375rem;
}
.profits ul .line2 i {
  width: 2.625rem;
  height: 2.21875rem;
  left: 0.625rem;
  background-position: -0.5625rem -13.15625rem;
}
.profits ul .line span {
  font-size: 0.5625rem;
  color: #fff;
  line-height: 0.9375rem;
  font-weight: 700;
}
.footer {
  width: 100%;
  height: 1.1875rem;
  padding: 1px 0;
  background: #fff;
}
.footer .footer-content {
  height: 1.1875rem;
  text-align: center;
}
.footer .footer-content a {
  color: #000;
  font-size: 0.375rem;
  line-height: 1.1875rem;
}
.footer .footer-content span {
  margin: 0 0.125rem;
  color: #000;
}
